CHANNEL_ID: "XXXX"
CHANNEL_SECRET: XXX
CHANNEL_ACCESS_TOKEN: XXX
LINE_USER_ID: XXX
GCP_PROJECT_ID: XXX
VERTEX_AGENT_ID: XXX
VERTEX_AGENT_LOCATION: XXX
VERTEX_SEARCH_ID: XXX
VERTEX_SEARCH_LOCATION: XXX
GCS_BUCKET_STORAGE: XXX