
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    height: 100vh;
    overflow: hidden;
    /* Prevent scrolling */
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.web-camera-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* Full viewport height */
    box-sizing: border-box;
    overflow: hidden;
}

.camera-box {
    position: relative;
    width: 100%;
    height: 100%;
    /* Subtracting space for buttons */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
    /* Prevent overscrolling on iOS */
}

.camera-box video,
.camera-box canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.camera-button {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.camera-shoot,
.camera-download {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.camera-shoot button {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #eaeaea;
    border: none;
    cursor: pointer;
}

.camera-shoot button img {
    height: 35px;
    object-fit: cover;
}

.camera-shoot label {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #eaeaea;
    border: none;
    cursor: pointer;
}

.camera-shoot label img {
    height: 35px;
    object-fit: cover;
}

.camera-loading {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.nid-overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    /* Allow clicks to pass through to the video */
    z-index: 3;
    /* Ensure it overlays the video/canvas */
}

.nid-overlay {
    position: relative;
    width: 80%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nid-overlay .nid-overlay-inner {
    position: absolute;
    width: 80%;
    height: 70%;
    border: 5px solid rgba(255, 255, 255, 0.836);
    background: rgba(255, 255, 255, 0.255);
    /* Inner guide border */
    border-radius: 9px;
}

.overlay-text {
    position: absolute;
    top: 2%;
    font-size: 14px;
    color: #009e00;
    background: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    text-align: center;
    white-space: pre-wrap;
    box-shadow: 0 2px 5px #0000004d;
}

.bg-web-banner {
    -webkit-text-size-adjust: 100%;
    --rem: 16;
    text-rendering: optimizeLegibility;
    font-size: 26px;
    line-height: 1.42857;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-image: url(https://storage.googleapis.com/line-cj-demo-chatboot/web/scan_nid_titile.png);
    width: 100%;
    background-position: center;
    background-size: cover;
    min-height: 200px;
    /* Set a reasonable minimum height */
    height: 35vh;
    /* Responsive height based on the viewport */
    max-height: 350px;
    /* Optional: Limit the max height for larger screens */
}

.bg-web-banner-2 {
    -webkit-text-size-adjust: 100%;
    --rem: 16;
    text-rendering: optimizeLegibility;
    font-size: 26px;
    line-height: 1.42857;
    box-sizing: border-box;
    background-repeat: no-repeat;
    padding: 0 40px;
    background-image: url(https://storage.googleapis.com/line-cj-demo-chatboot/web/sabai-card-center.png);
    width: 100%;
    background-position: center;
    background-size: cover;
    min-height: 200px; /* Set a reasonable minimum height */
    height: 35vh; /* Responsive height based on the viewport */
    max-height: 350px; /* Optional: Limit the max height for larger screens */
}

h4 {
    font-size: 1rem;
    font-weight: 500;
    color:  #009e00;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.formbold-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 0.25rem;
    background-color: #009e00;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.loader {
    width: 48px;
    height: 48px;
    border:10px solid #FFF;
    border-radius: 50%;
    position: relative;
    transform:rotate(45deg);
    box-sizing: border-box;
}
.loader::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    inset:-10px;
    border-radius: 50%;
    border:10px solid #009e00;
    animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

/* HTML: <div class="loader"></div> */
.warning-nid {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  color: #0000;
  background: linear-gradient(90deg,#C02942 calc(50% + 0.5ch),#000 0) right/calc(200% + 1ch) 100%;
  -webkit-background-clip: text;
          background-clip: text;
  animation: l7 2s infinite steps(11);
}
.warning-nid:before {
  content:"Invalid National ID";
}
@keyframes l7 {to{background-position: left}}
      