#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    font-size: 14px;
}

div {
    font-size: 14px;
    font-family: 'Arial', sans-serif;
}

.profile-card {
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

.profile-header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
}

.profile-pic {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.profile-name {
    font-size: 24px;
    margin: 0;
}

.profile-body {
    padding: 20px;
}

.profile-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.profile-item:last-child {
    border-bottom: none;
}

.label {
    font-weight: bold;
    color: #555;
}

@media (max-width: 600px) {
.profile-card {
    padding: 10px;
}

.profile-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-pic {
    margin: 0 0 10px 0;
}

.profile-name {
    font-size: 20px;
}
}

.button-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 20px;
    background-color: #00c300;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #009e00;
}


.loader {
    width: 48px;
    height: 48px;
    border:10px solid #FFF;
    border-radius: 50%;
    position: relative;
    transform:rotate(45deg);
    box-sizing: border-box;
    align-self: center;
}
.loader::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    inset:-10px;
    border-radius: 50%;
    border:10px solid #009e00;
    animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}